# PrrrGuard Environment Variables
PRIVATE_KEY=0x...your_private_key_here...
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Deployed contract addresses (Sepolia)
SETTLEMENT_ADDRESS=0x9cdDb161697784F96B23391B608baf220e164996
CIRCUIT_BREAKER_ADDRESS=0x72E6aCBd6C8426BF8743037FB72D9d2210cc2088

# Chainlink VRF (Sepolia)
VRF_SUBSCRIPTION_ID=your_subscription_id

# Watcher SDK config
CHAINLINK_FEED=0x694AA1769357215DE4FAC081bf1f309aDC325306
AAVE_ORACLE=0x2da88497588bf89281816106C7259e31AF45a663
MONITORED_ASSET=0xFF34B3d4Aee8ddCd6F9AFFFB6Fe49bD371b8a357
ACTIVE_EPOCH_ID=1
POLL_INTERVAL_MS=3000
